.apple-pay-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: $black-color;
	padding: 14px;
	border-radius: 3px;

	@include hover(
		(
			background-color: $primary-color,
		)
	);
}
