$black-color: #000;
$white-color: #fff;
$order-bg-color: #f7f7f9;
$order-divider-color: #e0e2ea;
$divider-color: #e4e6ec;
$gray-color: #797e8b;
$primary-color: #363a43;
$secondary-color: #666c7b;
$green-color: #028837;
$textfield-default-color: #c7c9d1;
$tertiary-color: #b0b4be;
$error-color: #eb3449;
