$black-color: #000;
$white-color: #fff;
$divider-color: #e4e6ec;
$primary-color: #363a43;
$secondary-color: #666c7b;
$green-color: #028837;
$textfield-default-color: #c7c9d1;
$tertiary-color: #b0b4be;
