@import '../../styles/index.scss';

.payment-form {
	width: 480px;
	margin: auto;

	&__trial-box {
		color: $primary-color;
		margin-bottom: 48px;
		&--trial {
			font-weight: 600;
			font-size: 32px;
			line-height: 40px;
		}
	}

	&--after-trial {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}

	&__apple-button {
		margin-bottom: 24px;
	}

	&__divider {
		display: flex;
		align-items: center;
		text-align: center;
		color: $secondary-color;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 16px;

		&::before,
		&::after {
			content: '';
			flex: 1;
			border-bottom: 1px solid $divider-color;
		}

		&::before {
			margin-right: 16px;
		}

		&::after {
			margin-left: 16px;
		}
	}

	&__fields {
		display: flex;
		gap: 12px;
		flex-direction: column;
		margin-bottom: 16px;
	}

	&__row {
		display: flex;
		gap: 8px;
	}

	&__pay-button-container {
		margin-bottom: 8px;
	}

	&__description {
		padding: 16px;
		font-size: 12px;
		line-height: 16px;
		color: $secondary-color;
		border: 1px solid $divider-color;
		border-radius: 8px;
		&--strong {
			font-weight: 600;
		}
	}

	&__info-icon {
		position: absolute;
		right: 13px;
		color: $tertiary-color;
		cursor: pointer;

		@include hover(
			(
				color: $secondary-color,
			)
		);
	}
}
